@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
}

:root {
  --bg-pomodoro: #ba4949;
  --bg-short-break: #38858a;
  --bg-long-break: #397097;
  --font-color: #ffffff;
  --br: 7px;

  --title-font: 700 5rem "Roboto", sans-serif;
  --subtitle-font: 500 1.1rem "Roboto", sans-serif;
  --main-font: 400 1rem "Roboto", sans-serif;

  --dark-pomodoro: #a44e4e;
  --light-pomodoro: #e3b6b6;
  --dark-shadow-pomodoro: #ab4343;
  --light-shadow-pomodoro: #c15c5c;

  --dark-short-break: #417b80;
  --light-short-break: #afced0;
  --dark-shadow-short-break: #337a7f;
  --light-shadow-short-break: #4c9196;

  --dark-long-break: #426c8a;
  --light-long-break: #b0c6d5;
  --dark-shadow-long-break: #34678b;
  --light-shadow-long-break: #4d7fa2;

}

.page-wrapper {
  width: 100vw;
  min-height: 100vh;
  color: var(--font-color);
  background-color: var(--bg-pomodoro);
}

.page-container {
  width: 620px;
  margin: 0 auto;
}


.header {
  padding: 20px 0;
  font: var(--subtitle-font);
  box-shadow: 0 2px 0 0 var(--dark-pomodoro);
}

.main {
  padding: 40px;
}

.timer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: var(--light-shadow-pomodoro);
  border-radius: var(--br);
}

.timer-type-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
}

.timer-type-item {
  padding: 7px 14px;
  border-radius: var(br);
}

.timer-type-item:nth-child(n):checked { /* delete, because js */
  background-color: var(--dark-pomodoros);
}

.timer-type-item-label {
  font: var(--main-font);
}
            
.timer {
  font: var(--title-font)
}


.btn-start {
  width: 42%;
  padding: 20px;
  font: var(--subtitle-font);
  color: var(--bg-pomodoro);
  background-color: var(--font-color);
  border: 0;
  border-radius: var(--br);
  text-transform: uppercase;
}

.tagline-section {
  display: flex;
  flex-direction: column;
  gap: 7px;
  gap: 20px;
  padding: 20px;
}

.pomodoro-num {
  font: var(--main-font);
  text-align: center;
  color: var(--light-pomodoro);
}

.tagline {
  font: var(--main-font);
  text-align: center;
}

.tasks-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task-title-container {
  padding-bottom: 20px;
  box-shadow: 0 2px 0 0 var(--light-pomodoro);
}

.task-title {
  font: var(--subtitle-font);
}

.btn-add-task {
  padding: 20px;
  font: var(--subtitle-font);
  color: var(--light-pomodoro);
  background-color: var(--dark-shadow-pomodoro);
  border: 2px dashed var(--light-pomodoro);
  border-radius: var(--br);
}
